RewriteEngine on

RewriteCond %{REMOTE_ADDR} !=127.0.0.1
RewriteCond %{REMOTE_ADDR} !=::1
RewriteRule ^operator/.+ [F]

RewriteCond %{REQUEST_FILENAME} !\.(php)$
RewriteRule ^(.+)/(.+)$ $1/$2.php [END]

RewriteRule ^.+ - [F]
